body {
  color: #40514E;
  margin: 0;
  text-align: center;
  /*font-family: verdana, sans-serif;*/
  /*font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;*/
  font-family: 'Merriweather', serif;
  font-size: 120%;
}

h1 {

margin-top: 0;
/*width: 10%;
margin:0 auto 0 auto;*/
font-family: 'Sacramento', cursive;

/*font-size: 90px;*/
/*font-size: 562.5%;*/
/* 1em son 16px = 100%  */
margin: 50px auto 0 auto;/*top right bottom left*/
font-size: 5.625rem;
color: #66BFBF;
/*line-height: 2;*/
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
  padding-bottom: 10px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

p{
  line-height: 2;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 15%;
  margin: 100px auto;
  /*top and bot 100 left rith centrado*/
}

a{
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;


}
a:hover{
  color: #EAF6F6;
}

.main-foto{
  width: 1400px; height: 700px;
}

.divs{
  height: 200px;
  width: 200px;
}

.intro{
  width: 30%;
  margin: auto;
}

.top-container{
  /*
  height: 200px;
  width: 200px;

  padding: 20px;
  border: solid 10px;
  */
/*  background-color: #f3ecc2;*/
/*background-color: #3282b8;*/
background-color: #007892;
  position: relative;
  padding-top: 100px;

}

.middle-container{
  margin: 100px 0;
/*
  margin-left: 260px;
  border: solid 20px;
  */
  /*background-color: red;
  height: 200px;
  width: 200px;*/
}
.bottom-container{
  /*
  margin-left: 500px;
  border: solid 10px;
  */
/*  background-color: yellow;
  height: 200px;
  width: 200px;*/
  background-color: #007892;
  padding: 50px 0 20px; /*top right bottom*/
}

.skills{
  padding-bottom: 30px;
}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;

}

.pro{
  color: #66BFBF;
  text-decoration:  underline;

}

.programmer{
  width: 40%;
  float: left;
  margin-right: 30px;

}

.ironman{
/*  width: 300px; height: 300px;*/
  width: 40%;
  float: right;
  margin-right: 30px;
}
.top-cloud {
  position: absolute;
  right: 90px;
  top: 50px;
}
.bottom-cloud {
  position: absolute;
  left: 100px;
  bottom: 750px;

}

.contact-message{
  width: 40%;
  margin: 40px auto 60px; /*top left-right bottom*/
}


/*
.code-skill-description{
  clear: left;
}
.tri-skill-description{
  clear: right;
}*/

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -moz-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -ms-linear-gradient(top, #11cdd4, #2980b9);
  background-image: -o-linear-gradient(top, #11cdd4, #2980b9);
  background-image: linear-gradient(to bottom, #11cdd4, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #4ee6cd;
  background-image: -webkit-linear-gradient(top, #4ee6cd, #0796e8);
  background-image: -moz-linear-gradient(top, #4ee6cd, #0796e8);
  background-image: -ms-linear-gradient(top, #4ee6cd, #0796e8);
  background-image: -o-linear-gradient(top, #4ee6cd, #0796e8);
  background-image: linear-gradient(to bottom, #4ee6cd, #0796e8);
  text-decoration: none;
}




.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}
